.landing-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .links{
        position: absolute;
        top :5px;
        right: 50px;
        a{
            margin:0 10px;
        }
    }
}